.Alert {
	position: fixed;
	top: 8%;
	left: 50%;
	transform: translateX(-50%);
	width: 65rem;
	min-height: 6rem;
	color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
	z-index: 100;
	border-radius: 3px;
	padding: 1.7rem 2rem;
	font-weight: 500;
	font-size: 1.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}